<template name="doctorRegistration">


<body style = "background-color : rgb(230,229,229)">
	{{> nav}}
	{{#if isEdit}}
	<section>

		<div class = "section-body container">
			<div class="row z-depth-3" style = "background-color:white;margin-top:50px;">
			    <form class="col s12" id="doctor-form" style = "padding: 0px 25px 0px 25px;">
			      <div class="row" style = "margin-top:20px;">
			        <div class = "input-field cold s6">
			        	 <input name="qualifications" type="text" class="validate inputT" value="{{Quals}}">
         				 <label for="qualifications" class="active">Qualifications</label>
			        </div>
			    </div>
			    <div class="row" style = "margin-top:20px;">
			        <div class = "input-field cold s6">
			        	 <input name="specialty" type="text" class="validate inputT" value = "{{specialty}}">
         				 <label for="specialty" class="active">Doctor Specialty</label>
			        </div>
			    </div>
			    <div class="row" style = "margin-top:20px;">
			        <div class = "input-field cold s6">
			        	 <input name="clinic-address" type="text" class="validate inputT" value="{{address}}">
         				 <label for="clinic-address" class="active">Clinic Address</label>
			        </div>
			    </div>

          <button class="btn waves-effect waves-light red lighten-2" type="submit" name="action" style = "left: 76.7%;
    			margin-bottom: 20px;margin-top:10px;">Submit
 				 </button>

			    </form>


  			</div>


		</div>

	</section>
{{else}}
<section>

	<div class = "section-body container">
		<div class="row z-depth-3" style = "background-color:white;margin-top:50px;">
				<form class="col s12" id="doctor-form" style = "padding: 0px 25px 0px 25px;">
					<div class="row" style = "margin-top:20px;">
						<div class = "input-field cold s6">
							 <input name="qualifications" type="text" class="validate inputT" value="{{Quals}}">
							 <label for="qualifications" >Qualifications</label>
						</div>
				</div>
				<div class="row" style = "margin-top:20px;">
						<div class = "input-field cold s6">
							 <input name="specialty" type="text" class="validate inputT" value = "{{specialty}}">
							 <label for="specialty" >Doctor Specialty</label>
						</div>
				</div>
				<div class="row" style = "margin-top:20px;">
						<div class = "input-field cold s6">
							 <input name="clinic-address" type="text" class="validate inputT" value="{{address}}">
							 <label for="clinic-address" >Clinic Address</label>
						</div>
				</div>

				<button class="btn waves-effect waves-light red lighten-2" type="submit" name="action" style = "left: 76.7%;
				margin-bottom: 20px;margin-top:10px;">Submit
			 </button>

				</form>


			</div>


	</div>

</section>
{{/if}}



	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
     <!-- Compiled and minified JavaScript -->
  <script type="text/javascript" src="../materialize/js/materialize.min.js"></script>


    <script type="text/javascript">
$(document).ready(function(){
	$(".button-collapse").sideNav();
	 $('.modal-trigger').leanModal();
	 $('.datepicker').pickadate({
    selectMonths: true,
    selectYears: 200
  });


});


</script>

</body>
</template>
