<template name="patientHome">

<body style = "background-color : rgb(230,229,229)">
			{{> nav}}
	<section>

		<div class = "section-body container">
			<h3 style = "margin-top:50px;">Welcome,<span class="patient-name">{{name}}</span></h3>
			 <table style = "margin-top:50px;" class = "bordered highlight centered responsive-table white z-depth-3">
		        <thead>
		          <tr>
		              <!-- <th data-field="s.no">S.no</th> -->
		              <th data-field="name">Doctor's Name</th>
		              <th data-field="date">Date</th>
		              <th data-field="disease">Disease</th>
		              <th data-field="open-prescription">Prescription</th>
		          </tr>
		        </thead>

		        <tbody>
		          <!-- <tr>
		            <td>Dr.Sony Mishra(testing)</td>
		            <td>12-Dec-2015</td>
		            <td>Lovaria(testing)</td>
		            <td><a href = "#">Open</a></td>
		          </tr> -->
							{{#each records}}
								{{> record}}
							{{/each}}

		        </tbody>
		     </table>




		</div>

	</section>




	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
     <!-- Compiled and minified JavaScript -->
  <script type="text/javascript" src="../materialize/js/materialize.min.js"></script>


    <script type="text/javascript">
$(document).ready(function(){
	$(".button-collapse").sideNav();
	 $('.modal-trigger').leanModal();

});


</script>

</body>
</template>

<template name="record">
	<tr>
		<!-- <td>{{sno}}</td> -->
		<td>{{this.info.doc}}</td>
		<td>{{this.info.date}}</td>
		<td>{{this.info.disease}}</td>
		<td><a href = "/show_prescription/{{_id}}">Open</a></td>
	</tr>
</template>
