/*doctor-account.css*/

.modal-content{

}

#modal1 .modal-footer{
	background-color : #fff;
}

#modal1{
	height : 260px;
	background-color : #fff;
}

.content{
	padding: 20px;
}

.modal .modal-footer .btn, .modal .modal-footer .btn-large, .modal .modal-footer .btn-flat{
	margin: 6px 10px;
}

body{
	background-color : rgb(230,229,229);
}

.prescription-body{
	background-color: white;
	    margin: 0px !important;

}

/*prescription.css*/

.doctor-info{
	margin-left: 1rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.doctor-name{
	font-size: 26px;
    line-height: 1.5;
    color: #000;
    font-weight: normal;
}

.doctor-qualifications{
	font-size: 14px;
    line-height: 1.3;
    color: #818181;
    font-weight: bold;
}

.doctor-specialties{
	font-size: 14px;
    line-height: 1.3;
    color: #818181;
    font-weight: normal;
}

.doctor-clinic-name{
	font-size: 14px;
    line-height: 1.3;
    font-weight: bold;
    margin-bottom: 5px;
    color: #6f6f6f;
}

.doctor-clinic-address{
	color: #818181;
	font-size: 14px;
    line-height: 1.3;
    font-weight: normal;
}


.divider{
	height: 2px;
	margin-right: 1rem;
	margin-left: 1rem;
}

.container .row.prescription-body{
	margin: 0px;
}
.diagnosed-disease{
	margin-top: 2rem;
}
.vertical-divider.col.s1{
	width: 2px;
	background-color: #E57373;

    padding : 0px;

    margin-top: 1rem;
    margin-bottom: 1rem;
}

.prescription-main-body.col.s8{
	margin-top: 1rem;
	margin-bottom: 1rem;
	width: 74%;
}

.patient-info.row{
	margin: 0px;
}

.prescription-main-body-divider.divider{
	margin: 0px;
}

.medicine.row{
	margin: 0px;
	margin-bottom: 20px;
}

.input-field.col.s2.offset-s6,.input-field.col.s3{
	margin-top:-20px;
}
.input-field.col.s2.offset-s6{
	margin-right: 5%;
}
.medicine.row > .row{
	margin-bottom: 0px;
}
.prescribed-medication{
	margin-top: 20px;
    margin-left: 15px;
}

/*common css for forms*/
input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){
border-bottom: 1px solid #e57373;
box-shadow: 0 1px 0 0 #e57373;
color: #e57373;
}
input:not([type]):focus:not([readonly])+label, input[type=text]:focus:not([readonly])+label, input[type=password]:focus:not([readonly])+label, input[type=email]:focus:not([readonly])+label, input[type=url]:focus:not([readonly])+label, input[type=time]:focus:not([readonly])+label, input[type=date]:focus:not([readonly])+label, input[type=datetime-local]:focus:not([readonly])+label, input[type=tel]:focus:not([readonly])+label, input[type=number]:focus:not([readonly])+label, input[type=search]:focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label{
color: #e57373;
}
[type="checkbox"].filled-in:checked+label:after{
border: 2px solid #e57373;
background-color: #e57373;
}
[type="radio"]:checked+label:after{
border: 2px solid #e57373;
background-color: #e57373;
}
[type="radio"]:not(:checked)+label, [type="radio"]:checked+label{

display: initial !important;
}

/*specific to register.html*/
[type="radio"]+label:before, [type="radio"]+label:after{
	    margin: 1px 4px 4px 4px;
}
.picker__date-display{
	background-color:#e57373;
}
.picker__weekday-display{
background-color: #ef5350;
}

.picker__day.picker__day--today{
	color: #e57373;
}
.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected{
	background-color:#e57373;
}

/*for errors*/
@-webkit-keyframes fadeOut {
  0% {opacity: 0;}
  10% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes fadeOut {
  0% {opacity: 0;}
  10% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}


.errors{
  position: fixed;
  z-index: 10000;
  padding: 10px;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  pointer-events: none;
  opacity: 0.9;
}
.alert {
          animation: fadeOut 2700ms ease-in 0s 1 forwards;
  -webkit-animation: fadeOut 2700ms ease-in 0s 1 forwards;
     -moz-animation: fadeOut 2700ms ease-in 0s 1 forwards;
  width: 250px;
  float: right;
  clear: both;
  margin-bottom: 5px;
  pointer-events: auto;
}

/*logout button*/
.button-logout{
	background-color : transparent;
	border: 0;
}

/*bootstrap alert classes for errors*/
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-dismissable,
.alert-dismissible {
  padding-right: 35px;
}
.alert-dismissable .close,
.alert-dismissible .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}
.close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  filter: alpha(opacity=50);
  opacity: .5;
}
button.close {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
}
